body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  margin: 0;
  padding: 0;
}
/* Container utama */
.container {
  width: 100%;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Judul */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Tabel */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

/* Badge */
.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 5px;
  color: #fff;
}

.badge.gray {
  background-color: #777;
}

.badge {
  background-color: #009dff;
}

.badge.green {
  background-color: #28a745;
}

/* Tombol Aksi */
.action-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.action-button i {
  font-size: 16px;
}

.action-button:hover {
  background-color: #0056b3;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  table th, table td {
    padding: 8px;
    font-size: 14px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: wrap;
  }

  .action-button {
    padding: 4px 8px;
    font-size: 14px;
  }

  .badge {
    font-size: 10px;
    padding: 3px 6px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  table th, table td {
    padding: 6px;
    font-size: 12px;
  }

  .action-button {
    font-size: 12px;
    padding: 3px 6px;
  }

  .badge {
    font-size: 8px;
    padding: 2px 5px;
  }
}
