* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #000;
  position: relative;
}

.header {
  background-color: #000060;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  z-index: 99;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 0px 0px 90px;
}
.header h1 {
  font-size: 1.8rem;
}
.header .logout {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 20px;
}
.logout i {
  font-size: 1.5rem;
}

.logout a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.logout a span{
  margin-left: 5px;
}


.sidebar {
  background-color: #f4f4f4;
  height: 100vh;
  position: fixed;
  top: 57px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  text-align: center;
  margin: 0;
  background-color: #ddd;
}

.item:nth-child(1) {
  background-color: #c0c0c0;
}

.item-4 {
  margin: 0;
  background-color: #ddd;
}
.menu-item:hover {
  background-color: #c0c0c0;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
}
.t-sub {
  display: flex;
  align-items: center;
  justify-content: start;
}
.panah-sub {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}

.item-4 img {
  width: 1.7rem;
}

.dropdown {
  display: none;
  padding-left: 20px;
}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.dropdown :hover {
  background-color: #c0c0c0;
  border-radius: 0px 0px 0px 20px;
}

.sidebar.hiddenside .item a,
.sidebar.hiddenside .item-4 a {
  opacity: 0;
}
.sidebar.hiddenside h2 {
  opacity: 0;
}

.item i {
  font-size: 1.5rem;
}
.item img {
  width: 1.7rem;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
  opacity: 1;
}

.sidebar .item:hover {
  background-color: #c0c0c0;
}

/* Toggle Button Styles */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #c0c0c0;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #737373;
}

.sidebar {
  width: 250px;
  left: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.sidebar.hiddenside {
  width: 70px;
}

.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.content.expandside {
  margin-left: 75px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
  .header-box {
    padding: 0px 0px 0px 70px;
  }
  .header h2 {
    font-size: 0.7rem;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header .logout {
    padding: 5px;
  }
  .logout i {
    font-size: 1.5rem;
  }

  .logout a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .logout a span {
    display: none;
  }
  .sidebar {
    top: 65px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  .sidebar.hiddendrop {
    height: auto;
    overflow: hidden;
  }
  .content {
    margin-left: 0;
    transition: margin-top 0.3s ease-in-out;
  }
  .content.expanddown {
    margin-top: 260px;
  }
}

.content {
  margin-top: 75px;
  max-width: 1300px;
}
/* ======================================================================================== */



/* Main content */
.main-content {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
}



/* Status ruangan */
.ruangan-status-box {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.ruangan-status-box h1{
  padding: 10px;
}
.ruangan-status-box h1 span{
  color: red;
}
.ruangan-status {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.ruangan-status  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ruangan-status th, 
.ruangan-status td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.ruangan-status th {
  background-color: #0000ff;
  color: white;
}

.ruangan-status tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ruangan-status tr:hover {
  background-color: #e8f5e9;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .ruangan-status table {
    display: block; 
    overflow-x: auto; 
    white-space: wrap; 
  }

  .ruangan-status table th, 
  .ruangan-status table td {
    font-size: 14px; 
    padding: 8px; 
  }
}


